In [25]:
import pandas as pd
df = pd.read_csv('synthetic_telco_churn.csv')
df = df.drop('customerID', axis=1)
print(len(df))
df.tail(5)

1000

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
995,Male,0,Yes,No,16,No,Yes,DSL,No,No,No internet service,No internet service,No,No,One year,No,Mailed check,99.93,1598.88,No
996,Male,1,Yes,No,21,No,Yes,Fiber optic,Yes,No internet service,Yes,No internet service,Yes,No,Month-to-month,No,Mailed check,33.34,700.14,No
997,Female,0,Yes,No,40,No,Yes,DSL,No internet service,Yes,Yes,No,No,No internet service,Two year,Yes,Credit card (automatic),31.05,1242.00,Yes
998,Female,0,No,No,67,Yes,No phone service,DSL,No,No internet service,Yes,No,No,No,One year,Yes,Mailed check,112.21,7518.07,No
999,Male,0,No,No,68,Yes,No phone service,DSL,Yes,Yes,No,No internet service,No internet service,Yes,One year,Yes,Mailed check,95.11,6467.48,No

In [26]:
df['gender'] = df['gender'].map({'Male': 1, 'Female': 0})
df['Partner'] = df['Partner'].map({'Yes': 1, 'No': 0})
df['Dependents'] = df['Dependents'].map({'Yes': 1, 'No': 0})
df['PhoneService'] = df['PhoneService'].map({'Yes': 1, 'No': 0})
df['MultipleLines'] = df['MultipleLines'].map({'Yes': 1, 'No': 0, 'No phone service': 0})
df['OnlineSecurity'] = df['OnlineSecurity'].map({'Yes': 1, 'No': 0, 'No internet service': 0})
df['OnlineBackup'] = df['OnlineBackup'].map({'Yes': 1, 'No': 0, 'No internet service': 0})
df['DeviceProtection'] = df['DeviceProtection'].map({'Yes': 1, 'No': 0, 'No internet service': 0})
df['TechSupport'] = df['TechSupport'].map({'Yes': 1, 'No': 0, 'No internet service': 0})
df['StreamingTV'] = df['StreamingTV'].map({'Yes': 1, 'No': 0, 'No internet service': 0})
df['StreamingMovies'] = df['StreamingMovies'].map({'Yes': 1, 'No': 0, 'No internet service': 0})
df['PaperlessBilling'] = df['PaperlessBilling'].map({'Yes': 1, 'No': 0})
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

In [27]:
df.tail(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
995,1,0,1,0,16,0,1,DSL,0,0,0,0,0,0,One year,0,Mailed check,99.93,1598.88,0
996,1,1,1,0,21,0,1,Fiber optic,1,0,1,0,1,0,Month-to-month,0,Mailed check,33.34,700.14,0
997,0,0,1,0,40,0,1,DSL,0,1,1,0,0,0,Two year,1,Credit card (automatic),31.05,1242.00,1
998,0,0,0,0,67,1,0,DSL,0,0,1,0,0,0,One year,1,Mailed check,112.21,7518.07,0
999,1,0,0,0,68,1,0,DSL,1,1,0,0,0,1,One year,1,Mailed check,95.11,6467.48,0

In [28]:
df = pd.get_dummies(df, columns=['InternetService','Contract','PaymentMethod'], drop_first=True, dtype=int)
df.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,1,1,0,6,0,0,1,0,0,...,83.38,500.28,0,0,1,0,1,0,0,1
1,0,0,0,0,34,1,0,0,0,1,...,108.01,3672.34,0,0,0,0,1,0,1,0
2,1,0,0,0,54,0,0,0,0,0,...,108.78,5874.12,1,1,0,0,1,0,1,0
3,1,0,0,0,13,1,0,1,0,0,...,115.77,1505.01,0,0,1,1,0,0,1,0
4,1,0,0,1,9,1,1,0,1,1,...,106.77,960.93,0,1,0,1,0,0,1,0

In [29]:
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
x = df.drop('Churn', axis=1)
y = df['Churn']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
print(len(x_train))
x_train.head(2)

800

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,PaperlessBilling,MonthlyCharges,TotalCharges,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
776,1,1,1,1,1,0,0,0,0,0,...,1,36.22,36.22,1,0,1,0,0,1,0
759,1,0,1,1,46,0,1,0,1,1,...,1,95.38,4387.48,0,0,0,0,0,1,0

In [30]:
from keras.models import Sequential
from keras.layers import Dense
model = Sequential([

    Dense(56, input_shape=(23,), activation='relu'),
    Dense(23, activation='relu'),
    Dense(23, activation='relu'),
    Dense(1, activation='sigmoid')
])

e:\Python\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['AUC'])
model.fit(x_train, y_train, epochs=10, batch_size=80, shuffle=True)

Epoch 1/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - AUC: 0.5106 - loss: 47.6278
Epoch 2/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - AUC: 0.4965 - loss: 22.6164
Epoch 3/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - AUC: 0.4871 - loss: 13.3177
Epoch 4/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - AUC: 0.5244 - loss: 3.0890
Epoch 5/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - AUC: 0.5338 - loss: 2.2573
Epoch 6/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - AUC: 0.4766 - loss: 1.5830
Epoch 7/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - AUC: 0.5257 - loss: 1.2075
Epoch 8/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - AUC: 0.4704 - loss: 1.0984
Epoch 9/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - AUC: 0.4880 - loss: 1.3777
Epoch 10/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - AUC: 0.5129 - loss: 1.0051

In [32]:
model.evaluate(x_test, y_test)

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - AUC: 0.6776 - loss: 1.4718

[1.6154338121414185, 0.6269626617431641]